* {
    box-sizing: border-box;
  }

  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: hotpink;
  }

  .row {
    font-size: 1.5vw;
  }
  
  .col {
    float: left;
    padding: 0.5vw;
    color: white;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
      position: relative;
      margin: 0;
  }

  .container .content {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 1.5vw;
      font-size: 1.5vw;
  }

  .headline {
    background-color: rgb(255, 163, 104);
    font-size: 1.5vw;
    color: black;
    padding-top: 1.5vw;
  }

  .text {
    font-size: 1.2vw;
    color: white;
  }

  .maincolor {
    background-color: black;
  }